@import url("../../.cache/wal/colors-waybar.css");

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 18px;
  border-radius: 25px;
  color: @foreground;
}

#waybar {
  background-color: transparent;
}

#custom-arch-icon,
#mpris,
#custom-weather,
#tray,
#clock,
#audio,
#bluetooth,
#network,
#battery {
  background-color: @background;
  margin: 8px 4px;
  padding: 4px 14px;
}

#workspaces {
  background-color: @background;
  margin: 8px 4px;
  padding: 4px 6px;
}

#workspaces button {
  background-color: transparent;
  margin: 4px;
  padding: 2px 14px;
}

#workspaces button.active {
  background-color: @color7;
}

#workspaces button.active label {
  color: @background;
}

#workspaces button:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

#workspaces button.urgent {
  background-color: @color1;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  margin-left: 8px;
  margin-right: 8px;
}

#pulseaudio-slider highlight {
  background-color: @color4;
}

#battery.charging {
  color: #50fa7b;
}

#battery.warning {
  color: #f1fa8c;
}

#battery.critical {
  color: #ff5555;
}