@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 16px;
  color: white;
}

window#waybar {
  background-color: transparent;
}

.modules-left>widget>*,
.modules-center>widget>*,
.modules-right>widget>* {
  background-color: black;
  padding: 0px 16px;
  border-radius: 20px;
}

#tray menu {
  background-color: black;
  padding: 8px;
  border-radius: 20px;
}

#tray menuitem {
  padding: 4px 8px;
  border-radius: 20px;
}

#tray menuitem:hover {
  background-color: rgba(128, 128, 128, 0.25);
}

#workspaces {
  padding: 4px 8px;
}

#workspaces button {
  background-color: rgba(128, 128, 128, 0.25);
  border-radius: 20px;
  margin: 2px;
}

#workspaces button.active {
  background-color: white;
}

#workspaces button.active label {
  color: black
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 100px;
  background-color: rgba(128, 128, 128, 0.25);
  border-radius: 6px;
}

#pulseaudio-slider highlight {
  background-color: white;
  border-radius: 6px;
}

#battery.charging {
  color: greenyellow;
}

#battery.warning {
  color: yellow;
}

#battery.critical {
  color: red;
}